# Ignore target folder (compiled binaries, intermediate files)
post_quantum_secure_text_encryption/target/

# Ignore project-specific Cargo config
post_quantum_secure_text_encryption/.cargo/config.toml

#ignore test files
post_quantum_secure_text_encryption/test_files/

# Ignore build artifacts
**/*.rs.bk
**/*.rmeta
**/*.rlib

