# Ignore target folder (compiled binaries, intermediate files)
/pqs_text_crypto/target/

# Ignore project-specific Cargo config
/pqs_text_crypto/.cargo/config.toml

#ignore test files
/pqs_text_crypto/test_files/

# Ignore build artifacts
**/*.rs.bk
**/*.rmeta
**/*.rlib

# system stuff
.DS_Store
Thumbs.db

#vs code stuff
.vscode/

